{% extends 'base.html' %}

{% block content %}

<div class="hero fade">

    <h1>🔐 Login</h1>

    <p>
        Login to access Vetri AI Study Buddy.
    </p>

    <form method="POST">

        {% csrf_token %}

        {% if error %}
            <div style="color:red; font-weight:bold; margin-bottom:15px;">
                {{ error }}
            </div>
        {% endif %}

        {{ form.as_p }}

        <button type="submit">
            🔐 Login
        </button>

    </form>

    <br>

    <p>
        Don't have an account?
        <a href="{% url 'register' %}">
            <b>Register Here</b>
        </a>
    </p>

</div>

{% endblock %}