{% extends 'base.html' %}

{% block content %}

<div class="hero fade">

    <h1>❓ AI Quiz Generator</h1>

    <p>
        Generate AI-powered multiple choice questions instantly using Vetri AI Study Buddy.
    </p>

    <form method="POST">

        {% csrf_token %}

        <input
            type="text"
            name="topic"
            value="{{ topic }}"
            placeholder="Enter Topic (Example: Python, DBMS)"
            required>

        <button type="submit">
            🚀 Generate Quiz
        </button>

    </form>

</div>

<hr>

{% if content %}

<h2>📋 Generated Quiz</h2>

<div id="ai-content" class="history-card fade">

    <pre>{{ content }}</pre>

</div>

<br>

<button
    class="copy-btn"
    onclick="copyContent()">
    📋 Copy Quiz
</button>

<button
    class="download-btn"
    onclick="downloadPDF()">
    📄 Download PDF
</button>

{% endif %}

{% endblock %}